<ol id="agentList">
  <% agents.forEach(agent => { %>
  <li
    data-name="<%= agent.name %>"
    data-surname="<%= agent.surname %>"
    data-inboundoutbound="<%= agent.inboundoutbound %>"
    data-priority="<%= agent.priority %>"
  >
    <img
      src="/images/icons/drag_indicator.svg"
      alt="Slider Icon"
      class="slider-icon"
    />
    <span>
      <%= agent.name %>
      <%= agent.surname %>
    </span>
  </li>
  <% }); %>
</ol>
